<%- include('./partials/header.ejs') %>
    <main class="profile-main">
        <div class="container card">
            <section class="card-content clearfix">
                <h1 class="border-bottom"><a href="/todos"><i class="fas fa-chevron-left"></i></a>Profile Information</h1>
                <div class="margin">
                    <% if (user.name === '') { %>
                    <p><span class="bold">Name</span>: </p>
                    <% } else { %>
                    <p><span class="bold">Name</span>: <span><%=user.name%></span></p>
                    <% } %>
                    <p><span class="bold">Email</span>: <span><%=user.email%></span></p>
                    <p><span class="bold">Account Type</span>: <span><%=user.role%></span></p>
                    <form class="col-1" action="/profile/edit/<%=user._id%>" method="GET"> 
                        <button type="submit" title="Edit Profile" class="hoverable waves-effect waves-light btn blue-grey"><i class="fas fa-edit"></i></button>
                    </form>
                </div>
                <div class="margin">
                    <% if (user.image === '') { %>
                    <img src="https://placeholder.pics/svg/100x100" class='responsive-img circle' />
                    <% } else { %>
                    <img src="<%=user.image%>" class='responsive-img circle' />
                    <% } %>
                    <form class="col-1 margin" action="/profile" method="POST" enctype="multipart/form-data">
                        <label for="file">Image:</label>
                        <input type="file" class="margin" name="file">
                        <button type="submit" title="Update Picture" class="hoverable waves-effect waves-light btn blue-grey">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>