<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main id="main-content" class="authPage authPage--centered" tabindex="-1" aria-labelledby="authPage-heading">

    <div class="authPage__panel">
        <div class="authPage__formWrap">

            <div aria-live="polite" aria-atomic="true">
                <%- include('./partials/flash.ejs') %>
            </div>

            <header class="authPage__formHeader">
                <h1 id="authPage-heading" class="authPage__title">Set a new password</h1>
                <p class="authPage__subtitle">Choose a new password for your account.</p>
            </header>

            <form class="authPage__form" action="/reset/<%= token %>" method="POST" aria-labelledby="authPage-heading" novalidate>

                <div class="authPage__field">
                    <label for="recover-password" class="authPage__label">New password</label>
                    <input
                        id="recover-password"
                        class="authPage__input"
                        type="password"
                        name="password"
                        autocomplete="new-password"
                        minlength="5"
                        required
                        autofocus
                    />
                </div>

                <div class="authPage__field">
                    <label for="recover-confirmPassword" class="authPage__label">Confirm new password</label>
                    <input
                        id="recover-confirmPassword"
                        class="authPage__input"
                        type="password"
                        name="confirmPassword"
                        autocomplete="new-password"
                        minlength="5"
                        required
                    />
                </div>

                <button type="submit" class="btn btn--primary authPage__submit">Set new password</button>

                <a href="/login" class="authPage__backLink">&#8592; Back to log in</a>

            </form>

        </div>
    </div>

</main>

<%- include('./partials/footer.ejs') %>
