<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- External css -->
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Schedule a Tow</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="todos-main">
        <%- include('./partials/flash.ejs') %>
        <div class="container">
                <section class="container">
                    <h1>Dashboard</h1>
                    <p class="margin">Welcome <%=user.email%></p>
                </section>
                <div class="container">
                    <ul class="collapsible">
                        <% todos.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <div class="collapsible-header container">
                                    <span class="new badge marginB <%= el.completed === true ? 'red' : 'green' %>" data-badge-caption="<%= el.completed === true ? 'Closed' : 'Open' %>"></span>
                                    <div class="border-bottom marginB">
                                        <span class='bold margin <%= el.completed === true ? 'completed' : 'not' %> '><%= moment(el.createdAt).format('LLL') %></span>
                                    </div>
                                    <div class="center-align">
                                        <span data-id='<%=el._id%>' class="<%= el.completed === true ? 'completed' : 'not' %>">
                                            <% if ((el.vehicleYear !== null) && (el.vehicleMake.length > 0) && (el.vehicleModel.length > 0)) { %>
                                                <span class="bold">Pickup: </span><%= `${el.vehicleYear} ${el.vehicleMake} ${el.vehicleModel} ${el.vehicleColor}` %>
                                            <% } else if ((el.vehicleYear == null) && (el.vehicleMake.length > 0) && (el.vehicleModel.length > 0)) { %>
                                                <span class="bold">Pickup: </span><%= `${el.vehicleMake} ${el.vehicleModel} ${el.vehicleColor}` %>
                                            <% } else { %>
                                                <span class="bold">Pickup: </span><%= `${el.vehicleDoor}-Door ${el.vehicleType} ${el.vehicleColor}` %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="center-align">
                                        <span class=<%= el.completed === true ? 'completed' : 'not' %> '><span class="bold">Driver: </span><%=el.assignedTo%></p>
                                        <span class=<%= el.completed === true ? 'completed' : 'not' %> '><span class="bold">Driver Status: </span>En-route</p>
                                    </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="margin border-bottom">
                                            <span class="bold">Contact:</span>
                                            <span class='marginH <%= el.completed === true ? 'completed' : 'not' %> '><%= el.contactNumber %></span>
                                        </div>
                                        <div class="margin border-bottom">
                                            <span class="bold">Ride with driver:</span>
                                            <span class='marginH <%= el.completed === true ? 'completed' : 'not' %> '><%= el.contactRideAlong %></span>
                                        </div>
                                        <div class="margin border-bottom">
                                            <span class="bold">Pickup:</span>
                                            <span class='marginH priority <%= el.completed === true ? 'completed' : 'not' %> '><%= el.vehicleAddressPick %></span>
                                        </div>
                                        <div class="margin border-bottom">
                                            <span class="bold">Dropoff:</span>
                                            <span class='marginH priority <%= el.completed === true ? 'completed' : 'not' %> '><%= el.vehicleAddressDrop %></span>
                                        </div>
                                <div class="margin border-bottom">
                                    <span class="bold">Notes:</span>
                                    <p class='marginT <%= el.completed === true ? 'completed' : 'not' %> '><%= el.vehicleLocation %></p>
                                </div>
                                <div class="margin">
                                    <% if (user.role === 'customer') { %>
                                        <a href="/todos/edit/<%=el._id%>" class="hoverable waves-effect waves-light btn blue-grey" title="Edit Details"><i class="fas fa-edit"></i></a>
                                    <% } else if (user.role === 'driver') { %>
                                        <!-- TO-DO BELOW -->
                                        <% if (el.assigned === false) { %>
                                        <form disabled>
                                            <button type="submit" title="Assign call to driver" class="margin hoverable waves-effect waves-light btn green" disabled>Accept (in development)</button>
                                        </form>
                                        <% } %>
                                        <form class="col-1 margin" action="/todos/assignTo/<%=el._id%>?_method=PUT" data-id="<%=el._id%>" method="POST" disabled> 
                                            <label for="assignedTo" class="bold">Update your status</label>
                                            <select name="assignedTo" class="margin">
                                            <option value="" selected>Please select a status</option>
                                            <option value="Enroute">En-route</option>
                                            <option value="Loading">Loading</option>
                                            <option value="Entow">En-tow</option>
                                        </select>
                                        <button type="submit" title="Assign call to driver" class="margin hoverable waves-effect waves-light btn blue-grey" disabled>Update (in developement)</button>
                                        </form>
                                        <!-- TO-DO ABOVE -->
                                    <% } else { %>
                                        <div class="btnContainer">
                                            <form class="col-1" action="/todos/markComplete/<%=el._id%>?_method=PUT" data-id="<%=el._id%>" method="POST"> 
                                                <button type="submit" title="Mark as complete" class="hoverable waves-effect waves-light btn green">Mark as complete</button>
                                            </form>
                                            <form class="col-1" action="/todos/markIncomplete/<%=el._id%>?_method=PUT" data-id="<%=el._id%>" method="POST"> 
                                                <button type="submit" title="Mark as incomplete" class="hoverable waves-effect waves-light btn orange">Mark as incomplete</button>
                                            </form>
                                            <form class="col-1" action="/todos/deleteTodo/<%=el._id%>?_method=DELETE" data-id="<%=el._id%>" method="POST"> 
                                                <button type="submit" title="Delete Todo" class="hoverable waves-effect waves-light btn red accent-3">Delete</button>
                                            </form>
                                        </div>
                                        <% if (el.assigned === false) { %>
                                        <form class="col-1 margin" action="/todos/assignTo/<%=el._id%>?_method=PUT" data-id="<%=el._id%>" method="POST"> 
                                                <label for="assignedTo" class="bold">Assign call to a driver:</label>
                                                <select name="assignedTo" class="margin">
                                                <option value="" selected>Please select a driver</option>
                                                <% drivers.forEach( driver => { %>
                                                <option value="<%=driver.email%>"><%=driver.email%></option>
                                                <% }) %>
                                            </select>
                                            <button type="submit" title="Assign call to driver" class="margin hoverable waves-effect waves-light btn blue-grey">Assign</button>
                                        </form>
                                        <% } else { %>
                                        <form class="col-1 margin" action="/todos/unassign/<%=el._id%>?_method=PUT" data-id="<%=el._id%>" method="POST"> 
                                            <button type="submit" title="Unssign call to driver" class="margin hoverable waves-effect waves-light btn blue-grey">Unassign</button>
                                        </form>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                    <% }) %>    
                </ul>
            </div>
        </div>
        <div id="modal1" class="modal">
            <section class="modal-content">
                <h4 class="center-align marginB border-bottom">Provide details that will help us find you</h4>
                <form action="/todos/createTodo" method='POST'>
                    <h5 class="center-align">Customer</h5>
                    <div class="locationContainer margin">
                        <label for="contactNumber">Phone number:*</label>
                        <input type="tel" placeholder="(800)-939-8252" name="contactNumber" class="margin">
                        <label for="vehicleAddressPick">Pickup address:*</label>
                        <input type="text" placeholder="2300 California Ave / i-5 Northbound after exit 4 far right shoulder" name="vehicleAddressPick" class="margin" required>
                        <label for="vehicleAddressDrop">Dropoff address:</label>
                        <input type="text" placeholder="Store at tow yard / Bob's Autobody" name="vehicleAddressDrop" class="margin">
                        <label for="contactRideAlong">Ride with driver?:*</label>
                        <select name="contactRideAlong" required>
                            <option value="" selected>Please select an option</option>
                            <option value="true">Yes I will be with the vehicle</option>
                            <option value="false">No the vehicle is unattended, key in car</option>
                        </select>
                    </div>
                    <h5 class="center-align">Vehicle</h5>
                    <div class="vehicleContainer margin">
                        <label for="vehicleType">Describe your vehicle:*</label>
                        <select name="vehicleType" required>
                            <option value="" selected>Please select an option</option>
                            <option value="Sedan">Sedan / Car</option>
                            <option value="SUV">SUV / Van</option>
                            <option value="Truck">Truck</option>
                            <option value="Motorcycle">Motorcycle</option>
                            <option value="Other">Box-truck / Heavy-duty (specify in notes below)</option>
                        </select>
                        <select name="vehicleDoor" required>
                            <option value="" selected>Please select an option</option>
                            <option value="4">4-Door</option>
                            <option value="2">2-Door</option>
                            <option value="0">Motorcycle</option>
                        </select>
                        <label for="vehicleColor">Color*:</label>
                        <input type="text" placeholder="Silver*" name="vehicleColor" class="margin" required>
                    </div>
                    <button type="submit" class="hoverable waves-effect waves-light btn blue lighten-3">Submit</button>
                    <h5 class="center-align">Additional Details (optional)</h5>
                    <div class="optionalContainer margin">
                        <label for="vehicleYear">Year:</label>
                        <input type="text" placeholder="2001" name="vehicleYear" class="margin">
                        <label for="vehicleMake">Make:</label>
                        <input type="text" placeholder="Toyota" name="vehicleMake" class="margin">
                        <label for="vehicleModel">Model:</label>
                        <input type="text" placeholder="Corolla" name="vehicleModel" class="margin">
                        <label for="vehicleLocation">Pickup/Dropoff Information</label>
                        <textarea name="vehicleLocation" cols="30" rows="6" placeholder="Key under passenger-side floormat...Unload in driveway, call after dropoff" class="margin"></textarea>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
    <script>
    M.Dropdown.init(document.querySelector('.dropdown-trigger'))
    M.Sidenav.init(document.querySelector('.sidenav'))
    M.Collapsible.init(document.querySelector('.collapsible'))
    M.Modal.init(document.querySelector('.modal'))
    </script>
</body>
</html>